In [74]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

pd.set_option('display.float_format', '{:,.1f}'.format)

In [76]:
URL = "https://companyinfo.stock.naver.com/v1/company/ajax/cF1001.aspx?cmp_cd=005930&fin_typ=0&freq_typ=A" 

result = pd.read_html(URL, encoding='utf-8')

ValueError: No text parsed from document: https://companyinfo.stock.naver.com/v1/company/ajax/cF1001.aspx?cmp_cd=005930&fin_typ=0&freq_typ=A

In [70]:
table=result[1]

In [71]:
table.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [72]:
table.columns

MultiIndex(levels=[['Unnamed: 3_level_0', 'Unnamed: 4_level_0', 'Unnamed: 5_level_0', 'Unnamed: 6_level_0', 'Unnamed: 7_level_0', 'Unnamed: 8_level_0', '분기분기컨센서스보기', '연간연간컨센서스보기', '주요재무정보'], ['2016/12  (IFRS연결)', '2017/12  (IFRS연결)', '2018/06  (IFRS연결)', '2018/09  (IFRS연결)', '2018/12  (IFRS연결)', '2019/03(E)  (IFRS연결)', '2019/12(E)  (IFRS연결)', 'Unnamed: 8_level_1']],
           labels=[[], []])

In [73]:
cols = ['주요재무정보','2016/12 (IFRS연결)','2017/12 (IFRS연결)','2018/12 (IFRS연결)','2019/12(E) (IFRS연결)','2018/06 (IFRS연결)','2018/09 (IFRS연결)','2018/12 (IFRS연결)','2019/03(E) (IFRS연결)']

In [61]:
cols

['주요재무정보',
 '2016/12 (IFRS연결)',
 '2017/12 (IFRS연결)',
 '2018/12 (IFRS연결)',
 '2019/12(E) (IFRS연결)',
 '2018/06 (IFRS연결)',
 '2018/09 (IFRS연결)',
 '2018/12 (IFRS연결)',
 '2019/03(E) (IFRS연결)']

In [65]:
a=table.drop(table.columns[:], axis=0, inplace=True)

In [66]:
a

In [67]:
table

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]