## TKX 피트니스에 오신 것을 환영합니다!

안녕하세요! TKX 피트니스 데이터분석팀에 오신 것을 환영합니다.

TKX는 국내 최대의 프렌차이즈 피트니스 센터로서, 매월 수 천명에 달하는 신규 회원을 받아 데이터를 분석하고 있습니다.

TKX 피트니스의 장점은 프로그래밍 언어 파이썬(Python)과 데이터 분석 프레임워크 판다스(Pandas)를 활용한 면밀한 데이터 분석입니다. 이 데이터 분석을 바탕으로 KTX의 오퍼레이션 팀 / 코칭 팀은 피트니스 센터에 방문하는 고객 분들, 그리고 방문하지 않는 고객 분들에게도 최선의 맞춤 서비스를 제공해 드리고 있습니다.

오늘 이 노트북을 받은 분이 해주셔야 하는 일은 2016년도 1월부터 2017년도 12월까지의 신규 가입 고객 데이터를 받아와, 차후에 데이터분석을 더 용이하게 할 수 있도록 데이터를 정리해주는 작업, 일명 데이터 클리닝(Data Cleaning) 작업입니다.

저희 TKX 피트니스는 언제나 잘 정리되어 있는 고객 정보를 받아서 데이터 분석팀에게 맡길려고 노력하고 있으나, (이 노트북을 받은 분들도 아시겠지만) 현실은 언제나 100% 잘 정리되어있는 데이터를 받아오기가 어렵습니다.

때문에 이번 시간에는 신규 가입 고객 데이터를 분석하여, 데이터에 몇몇 누락된 부분이나 잘못 기입된 부분 등을 판다스로 정리하고 그 결과를 분석하는 일을 해주셨으면 합니다.

데이터는 다음의 URL [https://goo.gl/8XGH4T](https://goo.gl/8XGH4T) 에서 다운받을 수 있습니다. 데이터를 다운받아 읽어온 뒤, 하기에 적어놓은 내용대로 데이터를 분석 및 정리를 해주세요.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Load Dataset

In [2]:
data = pd.read_csv("./tkx-user-data.csv")

print(data.shape)
data.head()

(106839, 13)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,안원준,남성,010-2292-6251,31세,78,68,176,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요
1,유세아,여성,01045795881,39,56kg,51kg,172,2016년 10월 02일,2016년 11월 29일,예,월 1회,0개월,아니요
2,송솔은,여성,010-7719-8346,0,29,21,167,2017년 09월 06일,2017년 09월 06일,예,주 1회,0개월,아니요
3,백서원,여성,01011947169,36,67,65,0,2017년 06월 02일,2017년 07월 28일,예,안 마심,0개월,아니요
4,박서은,여성,010-2575-6398,42,60,57,167,2017년 05월 07일,2017년 05월 07일,아니오,안 마심,0개월,예

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106839 entries, 0 to 106838
Data columns (total 13 columns):
이름           106839 non-null object
성별           106839 non-null object
전화번호         106839 non-null object
나이           106839 non-null object
현재 체중        106839 non-null object
목표 체중        106839 non-null object
키            106839 non-null object
회원 가입일       106839 non-null object
회원 정보 갱신일    106839 non-null object
흡연 여부        106839 non-null object
음주 여부        106839 non-null object
가입 개월 수      106839 non-null object
개인상담 요청      106839 non-null object
dtypes: object(13)
memory usage: 10.6+ MB

## 실습

** 1. 텍스트로 된 흡연 여부(예/아니오)를 True/False 로 바꾸기 **

In [4]:
data.loc[data['흡연 여부']=='아니오', '흡연 여부(bool)']=False
data.loc[data['흡연 여부']=='아니요', '흡연 여부(bool)']=False
data.loc[data['흡연 여부']=='예', '흡연 여부(bool)']=True

In [5]:
data['흡연 여부(bool)'].mean()

0.20002995160943102

** 2. 나이에서 0세라고 되어있는 것을 NaN으로 바꾸기 **

In [6]:
data.loc[(data['나이']=='0')|(data['나이']=='0세'), '나이'].value_counts()

0    10640
Name: 나이, dtype: int64

** 3. 나이 컬럼을 정리하기 **

In [7]:
a = data['나이'].apply(lambda x: x.find('세'))

for i, x in enumerate(a):
    if x != -1:
        data['나이'][i]=data['나이'][i][:x]
        
data['나이'].unique()

array(['31', '39', '0', '36', '42', '32', '27', '29', '37', '34', '40',
       '33 ', '35', '30', '28', '50', '43', '20', '22', '33', '25', '38',
       '23', '38 ', '26', '34 ', '2', '31 ', '35 ', '49', '41', '24',
       '44', '105', '118', '36 ', '5', '28 ', '37 ', '19', '32 ', '21',
       '25 ', '46', '24 ', '85', '26 ', '39 ', '47', '82', '45', '30 ',
       '116', '6', '6 ', '16', '81', '18', '20 ', '42 ', '27 ', '110',
       '4', '8', '21 ', '115', '7', '80', '3', '96 ', '23 ', '15', '119',
       '14', '29 ', '91', '44 ', '112', '40 ', '109', '17', '92', '51',
       '94', '22 ', '5 ', '41 ', '48', '102', '114', '84', '106', '96',
       '87', '95', '8 ', '111', '101', '97', '7 ', '113', '86', '43 ',
       '107', '46 ', '45 ', '19 ', '90', '103', '4 ', '117', '92 ', '88',
       '100', '108', '13', '107 ', '50 ', '99', '104', '47 ', '93', '98',
       '108 ', '3 ', '87 ', '52', '109 ', '18 ', '16 ', '83', '2 ', '80 ',
       '103 ', '53', '110 ', '89', '91 ', '84 ', '17 ', '119 ', '49 ',
       '102 ', '13 ', '48 ', '101 ', '94 ', '11', '54', '104 ', '89 ',
       '12', '90 ', '106 ', '97 ', '112 ', '81 ', '100 ', '85 ', '105 ',
       '116 ', '111 ', '98 ', '88 '], dtype=object)

In [8]:
data.loc[data['나이']=='0', '나이']=np.nan
data['나이'].unique()

array(['31', '39', nan, '36', '42', '32', '27', '29', '37', '34', '40',
       '33 ', '35', '30', '28', '50', '43', '20', '22', '33', '25', '38',
       '23', '38 ', '26', '34 ', '2', '31 ', '35 ', '49', '41', '24',
       '44', '105', '118', '36 ', '5', '28 ', '37 ', '19', '32 ', '21',
       '25 ', '46', '24 ', '85', '26 ', '39 ', '47', '82', '45', '30 ',
       '116', '6', '6 ', '16', '81', '18', '20 ', '42 ', '27 ', '110',
       '4', '8', '21 ', '115', '7', '80', '3', '96 ', '23 ', '15', '119',
       '14', '29 ', '91', '44 ', '112', '40 ', '109', '17', '92', '51',
       '94', '22 ', '5 ', '41 ', '48', '102', '114', '84', '106', '96',
       '87', '95', '8 ', '111', '101', '97', '7 ', '113', '86', '43 ',
       '107', '46 ', '45 ', '19 ', '90', '103', '4 ', '117', '92 ', '88',
       '100', '108', '13', '107 ', '50 ', '99', '104', '47 ', '93', '98',
       '108 ', '3 ', '87 ', '52', '109 ', '18 ', '16 ', '83', '2 ', '80 ',
       '103 ', '53', '110 ', '89', '91 ', '84 ', '17 ', '119 ', '49 ',
       '102 ', '13 ', '48 ', '101 ', '94 ', '11', '54', '104 ', '89 ',
       '12', '90 ', '106 ', '97 ', '112 ', '81 ', '100 ', '85 ', '105 ',
       '116 ', '111 ', '98 ', '88 '], dtype=object)

** 4. 평균(mean) / 최소(min) / 최대(max) 나이 구하기 **

In [9]:
data.describe()

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청,흡연 여부(bool)
count,106839,106839,106839,96199,106839,106839,106839,106839,106839,106839,106839,106839,106839,106839
unique,11365,10,95189,163,273,330,361,731,830,2,5,4,2,2
top,조슬은,남성,unknown,33,0,0,0,2016년 05월 19일,2016년 12월 24일,아니오,월 2회,0개월,아니요,False
freq,47,31316,10640,6660,10649,10649,10698,182,199,85468,32214,74955,96260,85468

** 5. 컬럼의 순서를 조금 더 직관적으로 바꾸기 **

In [10]:
# Write code here!

## 과제(초급)

### 데이터를 사용하기 용이하게 정리하기

**6. 컬럼 이름 바꾸기**

보통 프로그래밍을 할 때 한글 컬럼을 사용하면 다양한 문제로 불편을 겪을 때가 많습니다.

그러므로 컬럼을 전부 한글에서 영어로 바꿔주세요. 컬럼명은 다음과 같이 바꿔주시면 됩니다.

* 이름 - Name
* 성별 - Gender
* 전화번호 - Phone Number
* 나이 - Age
* 현재 체중 - Current Weight
* 목표 체종 - Goal Weight
* 키 - Height
* 흡연 여부 - Smoking
* 음주 여부 - Drinking
* 개인상담 요청 - Request Counselling
* 회원 가입일 - Joined At
* 회원 정보 갱신일 - Updated At
* 가입 개월 수 - Paid Plan

In [11]:
data = data.rename(index = str, 
            columns={'이름' : 'Name',
                            '성별':  'Gender',
                            '전화번호' : 'Phone Number',
                            '나이' : 'Age',
                            '현재 체중' : 'Current Weight',
                            '목표 체중' : 'Goal Weight',
                            '키' : 'Height',
                            '흡연 여부' : 'Smoking',
                            '음주 여부' : 'Drinking',
                            '개인상담 요청' : 'Request Counselling',
                            '회원 가입일' : 'Joined At',
                            '회원 정보 갱신일' : 'Updated At',
                            '가입 개월 수' : 'Paid Plan'})
data.head()

,Name,Gender,Phone Number,Age,Current Weight,Goal Weight,Height,Joined At,Updated At,Smoking,Drinking,Paid Plan,Request Counselling,흡연 여부(bool)
0,안원준,남성,010-2292-6251,31,78,68,176,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요,False
1,유세아,여성,01045795881,39,56kg,51kg,172,2016년 10월 02일,2016년 11월 29일,예,월 1회,0개월,아니요,True
2,송솔은,여성,010-7719-8346,NaN,29,21,167,2017년 09월 06일,2017년 09월 06일,예,주 1회,0개월,아니요,True
3,백서원,여성,01011947169,36,67,65,0,2017년 06월 02일,2017년 07월 28일,예,안 마심,0개월,아니요,True
4,박서은,여성,010-2575-6398,42,60,57,167,2017년 05월 07일,2017년 05월 07일,아니오,안 마심,0개월,예,False

In [12]:
data.columns

Index(['Name', 'Gender', 'Phone Number', 'Age', 'Current Weight',
       'Goal Weight', 'Height', 'Joined At', 'Updated At', 'Smoking',
       'Drinking', 'Paid Plan', 'Request Counselling', '흡연 여부(bool)'],
      dtype='object')

** 7. '상담 요청' 컬럼을 예/아니오 에서 True/False로 바꿔주세요 **

In [13]:
data['Request Counselling'].value_counts()

아니요    96260
예      10579
Name: Request Counselling, dtype: int64

In [14]:
data.loc[data['Request Counselling']== '예', 'Request Counselling(bool)']=True
data.loc[data['Request Counselling']== '아니요', 'Request Counselling(bool)']=False

In [15]:
data['Request Counselling(bool)'].unique()

array([False, True], dtype=object)

In [16]:
data['Request Counselling(bool)'].mean()

0.0990181488033396

**8. '가입 개월 수' 컬럼을 분석해서, 무료(0개월)인 경우를 True로, 유료인 경우(3, 6, 9, 12개월)를 False로 보여주는 새로운 컬럼을 만들어주세요.**

In [17]:
data['Paid Plan'].value_counts()

0개월     74955
3개월     21250
6개월      7291
12개월     3343
Name: Paid Plan, dtype: int64

In [18]:
data.loc[data['Paid Plan']=='0개월', 'Paid Plan(bool)']=True
data.loc[data['Paid Plan']=='3개월', 'Paid Plan(bool)']=False
data.loc[data['Paid Plan']=='6개월', 'Paid Plan(bool)']=False
data.loc[data['Paid Plan']=='12개월', 'Paid Plan(bool)']=False

In [19]:
data['Paid Plan(bool)'].value_counts()

True     74955
False    31884
Name: Paid Plan(bool), dtype: int64

### 컬럼의 형태를 하나로 통일하고, 빈 값이나 outlier들을 NaN으로 바꾸기

** 9. 전화번호 컬럼을 정리해주세요. 다음과 같이 정리해주시면 됩니다. **
  * unknown 이라고 표시되어 있는 전화번호는 빈 전화번호입니다. 이를 NaN으로 바꿔주세요.

In [20]:
data.loc[data['Phone Number']=='unknown', 'Phone Number']=np.nan
data['Phone Number'].isnull().value_counts()

False    96199
True     10640
Name: Phone Number, dtype: int64

** 10. 키(cm) 컬럼을 정리해주세요. 다음과 같이 정리해주시면 됩니다.** 

* 다양한 형태로 표현되어 있는 키 컬럼(?, ?cm, ? cm 등)을 숫자로 통일해주세요.
* 키가 0으로 되어있으면 NaN으로 바꿔주세요.
* 키가 너무 작거나(140cm 이하) 너무 크면(210cm 이상) 마찬가지로 NaN으로 바꿔주세요.

In [21]:
data['Height'].unique()

array(['176', '172', '167', '0', '171', '177', '164', '170', '178', '182',
       '184', '217 cm', '159', '169', '175', '173', '121cm', '156', '168',
       '166', '165', '206cm', '181', '174', '177 cm', '157', '172cm',
       '180 cm', '175cm', '179cm', '179', '161', '183', '132', '185',
       '180', '172 cm', '169 cm', '174 cm', '162', '174cm', '170 cm',
       '188', '160', '171cm', '126', '158', '176 cm', '173 cm', '167 cm',
       '162cm', '180cm', '134cm', '234', '159cm', '163', '155', '182cm',
       '178cm', '104', '163 cm', '162 cm', '166 cm', '187', '114', '106',
       '164cm', '173cm', '182 cm', '166cm', '181cm', '186 cm', '192',
       '165 cm', '139', '160 cm', '181 cm', '170cm', '171 cm', '179 cm',
       '186', '201', '243', '168cm', '208', '219', '178 cm', '176cm',
       '164 cm', '177cm', '152', '238', '225', '169cm', '211', '184 cm',
       '183cm', '155cm', '167cm', '110', '247', '246', '124', '165cm',
       '161cm', '109', '183 cm', '222', '191', '125', '175 cm', '206',
       '154', '163cm', '212', '230', '218', '159 cm', '119', '168 cm',
       '242', '129 cm', '224', '161 cm', '187 cm', '107', '137', '160cm',
       '185cm', '189', '210cm', '213', '237', '200', '131', '241', '100',
       '187cm', '122 cm', '158cm', '101', '215', '134', '234cm', '209',
       '190cm', '185 cm', '130', '231 cm', '129', '127', '214cm', '139cm',
       '121', '153', '220', '184cm', '231', '193', '227', '103', '204',
       '102', '158 cm', '155 cm', '221', '136', '225cm', '248cm', '205',
       '228', '190', '226', '219cm', '236 cm', '117', '115', '127 cm',
       '186cm', '214', '195', '138', '235', '205cm', '157cm', '188 cm',
       '108', '203', '243cm', '245', '133', '207', '149', '248', '127cm',
       '130 cm', '108cm', '101cm', '210', '236', '232', '100cm', '120',
       '154cm', '156cm', '128', '233', '239', '115 cm', '216', '151',
       '247cm', '122', '112', '249', '234 cm', '223 cm', '105', '202',
       '135', '223', '157 cm', '118', '211cm', '226cm', '151cm', '204cm',
       '217', '103cm', '229', '189cm', '227cm', '244', '111', '118 cm',
       '245 cm', '116', '240', '121 cm', '113', '244cm', '194', '152cm',
       '113 cm', '233 cm', '153cm', '229 cm', '208cm', '150', '126cm',
       '188cm', '223cm', '123', '212 cm', '246cm', '114cm', '111cm',
       '220cm', '153 cm', '224 cm', '216 cm', '136cm', '224cm', '148',
       '189 cm', '216cm', '137 cm', '130cm', '154 cm', '138 cm', '135cm',
       '125 cm', '100 cm', '209cm', '226 cm', '116cm', '126 cm', '239cm',
       '210 cm', '221cm', '232 cm', '106cm', '120cm', '247 cm', '228 cm',
       '129cm', '128cm', '124 cm', '229cm', '246 cm', '156 cm', '119 cm',
       '117cm', '238 cm', '111 cm', '107 cm', '120 cm', '207cm', '101 cm',
       '105cm', '190 cm', '191 cm', '215 cm', '107cm', '123cm', '131 cm',
       '204 cm', '136 cm', '104cm', '115cm', '102cm', '117 cm', '193cm',
       '108 cm', '209 cm', '218cm', '152 cm', '237 cm', '196', '137cm',
       '102 cm', '138cm', '217cm', '114 cm', '197', '110cm', '112 cm',
       '240 cm', '236cm', '242cm', '192cm', '139 cm', '132 cm', '194cm',
       '222 cm', '241 cm', '106 cm', '104 cm', '221 cm', '230cm', '133cm',
       '131cm', '201 cm', '211 cm', '125cm', '249cm', '132cm', '202cm',
       '213 cm', '220 cm', '207 cm', '208 cm', '240cm', '200 cm', '237cm',
       '206 cm', '151 cm', '212cm', '135 cm', '112cm', '150cm'],
      dtype=object)

In [22]:
data['Height']=data['Height'].apply(lambda x: x[:3])

In [23]:
data.loc[data['Height']=='0','Height'] = np.nan

In [24]:
data['Height']=data['Height'].astype(float)

In [25]:
data['Height'].unique()

array([176., 172., 167.,  nan, 171., 177., 164., 170., 178., 182., 184.,
       217., 159., 169., 175., 173., 121., 156., 168., 166., 165., 206.,
       181., 174., 157., 180., 179., 161., 183., 132., 185., 162., 188.,
       160., 126., 158., 134., 234., 163., 155., 104., 187., 114., 106.,
       186., 192., 139., 201., 243., 208., 219., 152., 238., 225., 211.,
       110., 247., 246., 124., 109., 222., 191., 125., 154., 212., 230.,
       218., 119., 242., 129., 224., 107., 137., 189., 210., 213., 237.,
       200., 131., 241., 100., 122., 101., 215., 209., 190., 130., 231.,
       127., 214., 153., 220., 193., 227., 103., 204., 102., 221., 136.,
       248., 205., 228., 226., 236., 117., 115., 195., 138., 235., 108.,
       203., 245., 133., 207., 149., 232., 120., 128., 233., 239., 216.,
       151., 112., 249., 223., 105., 202., 135., 118., 229., 244., 111.,
       116., 240., 113., 194., 150., 123., 148., 196., 197.])

In [26]:
a = data['Height']<=140
b = data['Height']>=210

data.loc[a|b, 'Height']=np.nan

In [27]:
data['Height'].describe()

count    94423.000000
mean       172.260911
std          6.555064
min        148.000000
25%        168.000000
50%        172.000000
75%        177.000000
max        209.000000
Name: Height, dtype: float64

** 11.'현재 체중'과	'목표 체중' 컬럼을 정리해주세요. 다음과 같이 정리해주시면 됩니다.** 

* 다양한 형태로 표현되어 있는 몸무게 컬럼(?, ?kg, ? kg 등)을 숫자로 통일해주세요.
* 몸무게가 0으로 되어있으면 NaN으로 바꿔주세요.
* 몸무게가 너무 작거나(40kg 이하) 너무 크면(150kg 이상) 마찬가지로 NaN으로 바꿔주세요.

In [28]:
data['Current Weight'].dtype

dtype('O')

In [29]:
data['Current Weight']=data['Current Weight'].apply(lambda x: x.replace('kg', ''))
data['Goal Weight']=data['Goal Weight'].apply(lambda x: x.replace('kg', ''))

In [30]:
data['Current Weight'].dtype, data['Goal Weight'].dtype

(dtype('O'), dtype('O'))

In [31]:
data.loc[data['Current Weight']=='0', 'Current Weight']=np.nan
data.loc[data['Goal Weight']=='0', 'Goal Weight']=np.nan

In [32]:
data.head()

,Name,Gender,Phone Number,Age,Current Weight,Goal Weight,Height,Joined At,Updated At,Smoking,Drinking,Paid Plan,Request Counselling,흡연 여부(bool),Request Counselling(bool),Paid Plan(bool)
0,안원준,남성,010-2292-6251,31,78,68,176.0,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요,False,False,True
1,유세아,여성,01045795881,39,56,51,172.0,2016년 10월 02일,2016년 11월 29일,예,월 1회,0개월,아니요,True,False,True
2,송솔은,여성,010-7719-8346,NaN,29,21,167.0,2017년 09월 06일,2017년 09월 06일,예,주 1회,0개월,아니요,True,False,True
3,백서원,여성,01011947169,36,67,65,NaN,2017년 06월 02일,2017년 07월 28일,예,안 마심,0개월,아니요,True,False,True
4,박서은,여성,010-2575-6398,42,60,57,167.0,2017년 05월 07일,2017년 05월 07일,아니오,안 마심,0개월,예,False,True,True

### 기본적인 분석을 하기

** 12. 전체 데이터에서 평균/최소/최대 키(cm), 그리고 평균/최소/최대 '현재 체중(kg)'과 '목표 체중(kg)'을 찾아주세요. **

In [33]:
data['Height'].describe()

count    94423.000000
mean       172.260911
std          6.555064
min        148.000000
25%        168.000000
50%        172.000000
75%        177.000000
max        209.000000
Name: Height, dtype: float64

In [34]:
data['Current Weight'].astype(float).describe()

count    96190.000000
mean        71.449132
std         12.698796
min         20.000000
25%         60.000000
50%         76.000000
75%         80.000000
max        149.000000
Name: Current Weight, dtype: float64

In [35]:
data['Goal Weight'].astype(float).describe()

count    96190.000000
mean        65.954122
std         13.010923
min         10.000000
25%         55.000000
50%         70.000000
75%         75.000000
max        148.000000
Name: Goal Weight, dtype: float64

** 13. 전체 데이터에서 흡연자와 비흡연자 인원의 총합을 찾아주세요. **

In [36]:
data['흡연 여부(bool)'].value_counts()

False    85468
True     21371
Name: 흡연 여부(bool), dtype: int64

** 14. 전체 데이터에서 유료 사용자와 무료 사용자의 인원의 총합을 찾아주세요. **

또한 유료 사용자만 한정해서, 3개월 / 6개월 / 12개월 결제자의 인원의 총합을 찾아주세요.

In [37]:
data.groupby('Paid Plan(bool)')['Paid Plan(bool)'].count()

Paid Plan(bool)
False    31884
True     74955
Name: Paid Plan(bool), dtype: int64

In [38]:
data.groupby('Paid Plan')['Paid Plan'].count()

Paid Plan
0개월     74955
12개월     3343
3개월     21250
6개월      7291
Name: Paid Plan, dtype: int64

** 15. 전체 데이터에서 흡연자와 음주 여부를 바탕으로 다음을 분석해주세요. **
  1. 흡연과 음주를 둘 다 안 하는 사람의 인원 총합.
  1. 흡연은 하지만 음주는 안 하는 사람의 인원 총합.
  1. 흡연은 하지 않지만 음주는 하는 사람의 인원 총합.
  1. 흡연과 음주를 둘 다 하는 사람의 인원 총합.

In [39]:
data.head()

,Name,Gender,Phone Number,Age,Current Weight,Goal Weight,Height,Joined At,Updated At,Smoking,Drinking,Paid Plan,Request Counselling,흡연 여부(bool),Request Counselling(bool),Paid Plan(bool)
0,안원준,남성,010-2292-6251,31,78,68,176.0,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요,False,False,True
1,유세아,여성,01045795881,39,56,51,172.0,2016년 10월 02일,2016년 11월 29일,예,월 1회,0개월,아니요,True,False,True
2,송솔은,여성,010-7719-8346,NaN,29,21,167.0,2017년 09월 06일,2017년 09월 06일,예,주 1회,0개월,아니요,True,False,True
3,백서원,여성,01011947169,36,67,65,NaN,2017년 06월 02일,2017년 07월 28일,예,안 마심,0개월,아니요,True,False,True
4,박서은,여성,010-2575-6398,42,60,57,167.0,2017년 05월 07일,2017년 05월 07일,아니오,안 마심,0개월,예,False,True,True

In [40]:
data.loc[data['Drinking']=='안 마심', 'Drinking(bool)']=False
data.loc[data['Drinking']!='안 마심', 'Drinking(bool)']=True

In [41]:
data['Drinking(bool)'].unique()

array([ True, False])

In [42]:
smoking = data['흡연 여부(bool)']==True
drinking = data['Drinking(bool)']==True
non_smoking = data['흡연 여부(bool)']==False
non_drinking = data['Drinking(bool)']==False

In [43]:
#  1. 흡연과 음주를 둘 다 안 하는 사람의 인원 총합.
data.loc[(non_smoking)&(non_drinking)].shape[0]

8488

In [44]:
#흡연은 하지만 음주는 안 하는 사람의 인원 총합.
data.loc[(smoking)&(non_drinking)].shape[0]

2093

In [45]:
#흡연은 하지 않지만 음주는 하는 사람의 인원 총합.
data.loc[(non_smoking)&(drinking)].shape[0]

76980

In [46]:
#흡연과 음주를 둘 다 하는 사람의 인원 총합.
data.loc[(smoking)&(drinking)].shape[0]

19278

## 과제(중급)

** 16. 성별 컬럼을 정리하기 **

성별 컬럼을 정리해주세요.

데이터를 분석해보면 남성, 여성, 남, 녀, Male, FEMALE 등의 다양한 표현이 있습니다. 이 표현을 male, female으로 통일해주세요.

In [47]:
data['Gender'].unique()

array(['남성', '여성', 'Male', 'female', 'male', '여', '남', 'Female', 'FEMALE',
       'MALE'], dtype=object)

In [48]:

data['Gender']=data['Gender'].apply(lambda x: x.replace("남성",'male'))
data['Gender']=data['Gender'].apply(lambda x: x.replace("Male",'male'))
data['Gender']=data['Gender'].apply(lambda x: x.replace("남",'male'))
data['Gender']=data['Gender'].apply(lambda x: x.replace("MALE",'male'))

data['Gender']=data['Gender'].apply(lambda x: x.replace("여성",'female'))
data['Gender']=data['Gender'].apply(lambda x: x.replace("Female",'female'))
data['Gender']=data['Gender'].apply(lambda x: x.replace("여",'female'))
data['Gender']=data['Gender'].apply(lambda x: x.replace("FEMALE",'female'))
data['Gender']=data['Gender'].apply(lambda x: x.replace("FEmale",'female'))




data['Gender'].unique()

array(['male', 'female'], dtype=object)

**17. 전체 인원이 아닌, 남성/여성 각각의 최소/평균/최대 키/몸무게/나이를 구해주세요.**

결과적으로 다음의 수치가 나와야 합니다.
  * 전체 남성의 최소/평균/최대 나이
  * 전체 남성의 최소/평균/최대 몸무게(kg)
  * 전체 남성의 최소/평균/최대 키(cm)
  
  * 전체 여성의 최소/평균/최대 나이
  * 전체 여성의 최소/평균/최대 몸무게(kg)
  * 전체 여성의 최소/평균/최대 키(cm)

In [49]:
data['Current Weight']=data['Current Weight'].astype(float)
data['Age']=data['Age'].astype(float)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 106839 entries, 0 to 106838
Data columns (total 17 columns):
Name                         106839 non-null object
Gender                       106839 non-null object
Phone Number                 96199 non-null object
Age                          96199 non-null float64
Current Weight               96190 non-null float64
Goal Weight                  96190 non-null object
Height                       94423 non-null float64
Joined At                    106839 non-null object
Updated At                   106839 non-null object
Smoking                      106839 non-null object
Drinking                     106839 non-null object
Paid Plan                    106839 non-null object
Request Counselling          106839 non-null object
흡연 여부(bool)                  106839 non-null object
Request Counselling(bool)    106839 non-null object
Paid Plan(bool)              106839 non-null object
Drinking(bool)               106839 non-null bool
dtypes: bool(1), float64(3), object(13)
memory usage: 19.0+ MB

In [51]:
data.loc[data['Gender']=='male', ['Height','Current Weight','Age']].describe()

             Height  Current Weight           Age
count  55526.000000    56524.000000  56525.000000
mean     175.569985       79.561461     34.941583
std        5.195838        8.069821      9.127222
min      156.000000       20.000000      2.000000
25%      172.000000       77.000000     31.000000
50%      176.000000       80.000000     35.000000
75%      179.000000       82.000000     38.000000
max      209.000000      149.000000    119.000000

In [52]:
data.loc[data['Gender']=='female', ['Height','Current Weight','Age']].describe()

             Height  Current Weight           Age
count  38897.000000    39666.000000  39674.000000
mean     167.537162       59.889074     30.960528
std        5.274900        8.416682      9.072124
min      148.000000       20.000000      2.000000
25%      164.000000       57.000000     27.000000
50%      167.000000       59.000000     30.500000
75%      171.000000       62.000000     34.000000
max      209.000000      149.000000    119.000000

** 18. 감량 목표를 분석하기 **

데이터에서 '현재 체중' - '목표 체중' 을 하면 감량 목표가 나올 것입니다. 감량 목표를 찾아서 새로운 컬럼을 만들어주세요.

또한 kg별로 감량을 원하는 사람의 총 인원을 구해주세요. 가령 1) 1kg 감량을 원하는 총 인원, 2) 2kg 감량을 원하는 총 인원, ... 10) 10kg 감량을 원하는 총 인원이 나와야 합니다.

In [53]:
data['Goal Weight']=data['Goal Weight'].astype(float)

In [54]:
data['Goal Weight Gap']=data['Current Weight']-data['Goal Weight']

In [55]:
data['Goal Weight Gap'].value_counts()

6.0     9856
9.0     9729
5.0     9721
4.0     9624
1.0     9612
2.0     9586
3.0     9581
7.0     9528
8.0     9493
10.0    9460
Name: Goal Weight Gap, dtype: int64

** 19. '가입 개월 수'를 숫자로 표현하기 **

'가입 개월 수' 컬럼을 숫자로 정리해주세요. 현재 3개월, 6개월, 12개월로 되어있는데, 이를 3, 6, 12로 정리하시면 됩니다.

또한 0개월은 0이 아닌 NaN으로 집어넣어 주세요.

In [56]:
data['Paid Plan']=data['Paid Plan'].apply(lambda x: x.replace("개월", ""))
data.loc[data['Paid Plan']=='0', 'Paid Plan']=np.nan
data['Paid Plan']=data['Paid Plan'].astype(float)

In [57]:
data['Paid Plan'].describe()

count    31884.000000
mean         4.629658
std          2.809853
min          3.000000
25%          3.000000
50%          3.000000
75%          6.000000
max         12.000000
Name: Paid Plan, dtype: float64

** 20. '음주 여부'를 숫자로 표현하기**

'음주 여부' 컬럼을 숫자로 정리해주세요. 현재 1) 주 2회, 2) 주 1회, 3) 월 2회, 4) 월 1회 5) 안 마심으로 되어 있습니다만, 이를 월 기준 음주 횟수로 통일해주세요. 여기서 월은 30일로, 주는 4주로 고정합니다.

가령 1) 주 2회는 8, 2) 주 1회는 4, 3) 월 2회는 2, 4) 월 1회는 1, 5) 안 마심은 0으로 표현하면 됩니다.

In [58]:
data['Drinking'].unique()

array(['주 1회', '월 1회', '안 마심', '월 2회', '주 2회'], dtype=object)

In [59]:
data.loc[data['Drinking']=='주 1회', 'Drinking']=4
data.loc[data['Drinking']=='주 2회', 'Drinking']=8
data.loc[data['Drinking']=='월 2회', 'Drinking']=2
data.loc[data['Drinking']=='월 1회', 'Drinking']=1
data.loc[data['Drinking']=='안 마심', 'Drinking']=0

## 과제(고급)

** 21.휴대폰 번호 정리하기 **

다양한 표현으로 되어있는 휴대폰 번호를 010-xxxx-xxxx 로 통일해주세요. 가령 휴대폰 번호에 하이픈이 없으면 넣어주시면 됩니다.

또한 unknown으로 되어있거나 비어있는 값은 NaN으로 처리해주세요.

In [60]:
data['Phone Number']=data['Phone Number'].apply(lambda x: str(x))

In [61]:
data['Phone Number']=data['Phone Number'].apply(lambda x: x.replace('-',''))

In [72]:
def clean(number):
    if number != 'nan':
        return number[:3]+'-'+number[3:7]+'-'+number[-4:]
        
        
data['Phone Number']=data['Phone Number'].apply(clean)

In [79]:
data['Phone Number'].fillna(np.nan).head(20)

0     010-2292-6251
1     010-4579-5881
2     010-7719-8346
3     010-1194-7169
4     010-2575-6398
5     010-7299-1288
6     010-2132-4484
7     010-1924-9265
8     010-4533-7615
9     010-3642-3916
10              NaN
11    010-6789-2811
12    010-5798-1225
13    010-3383-4227
14    010-6545-3677
15    010-9642-7616
16              NaN
17    010-6715-1438
18    010-7391-2817
19    010-8219-6712
Name: Phone Number, dtype: object

** 22. 날짜를 사용 가능하게 정리하기 **

현재 '회원 가입일' 컬럼과 '회원 정보 갱신일' 컬럼은 20xx년 xx월 xx일 과 같은 형식으로 되어있습니다.

이 데이터를 현재 판다스에서는 날짜 컬럼이 아닌 문자열(텍스트) 컬럼으로 인식하고 있는데, 이 컬럼을 날짜 컬럼으로 인식할 수 있도록 수정해주세요.

In [85]:
data.head()

,Name,Gender,Phone Number,Age,Current Weight,Goal Weight,Height,Joined At,Updated At,Smoking,Drinking,Paid Plan,Request Counselling,흡연 여부(bool),Request Counselling(bool),Paid Plan(bool),Drinking(bool),Goal Weight Gap
0,안원준,male,010-2292-6251,31.0,78.0,68.0,176.0,2016년 07월 05일,2016년 07월 05일,아니오,4,NaN,아니요,False,False,True,True,10.0
1,유세아,female,010-4579-5881,39.0,56.0,51.0,172.0,2016년 10월 02일,2016년 11월 29일,예,1,NaN,아니요,True,False,True,True,5.0
2,송솔은,female,010-7719-8346,NaN,29.0,21.0,167.0,2017년 09월 06일,2017년 09월 06일,예,4,NaN,아니요,True,False,True,True,8.0
3,백서원,female,010-1194-7169,36.0,67.0,65.0,NaN,2017년 06월 02일,2017년 07월 28일,예,0,NaN,아니요,True,False,True,False,2.0
4,박서은,female,010-2575-6398,42.0,60.0,57.0,167.0,2017년 05월 07일,2017년 05월 07일,아니오,0,NaN,예,False,True,True,False,3.0

In [91]:
data['Joined At']=pd.to_datetime(data['Joined At'], format='%Y년 %m월 %d일')
data['Updated At']=pd.to_datetime(data['Updated At'], format='%Y년 %m월 %d일')

In [92]:
data['Joined At'].head()

0   2016-07-05
1   2016-10-02
2   2017-09-06
3   2017-06-02
4   2017-05-07
Name: Joined At, dtype: datetime64[ns]

In [93]:
data['Updated At'].head()

0   2016-07-05
1   2016-11-29
2   2017-09-06
3   2017-07-28
4   2017-05-07
Name: Updated At, dtype: datetime64[ns]

** 23. 날짜를 기준으로 분석하기 **

22번에서 날짜 컬럼을 만들었으면 다음을 분석해주세요.

1. 월별 전체 회원 가입량
2. 월 별 유료/무료 회원 가입량의 차이
3. 월 별 남성/여성 회원 가입량의 차이

In [109]:
data['Joined Month']=data['Joined At'].dt.month
data['Joined Year']=data['Joined At'].dt.year
data['Joined Year-Month']=data['Joined Year'].astype(str) + '-' + data['Joined Month'].astype(str)

In [110]:
data.head()

,Name,Gender,Phone Number,Age,Current Weight,Goal Weight,Height,Joined At,Updated At,Smoking,...,Paid Plan,Request Counselling,흡연 여부(bool),Request Counselling(bool),Paid Plan(bool),Drinking(bool),Goal Weight Gap,Joined Month,Joined Year,Joined Year-Month
0,안원준,male,010-2292-6251,31.0,78.0,68.0,176.0,2016-07-05,2016-07-05,아니오,...,NaN,아니요,False,False,True,True,10.0,7,2016,2016-7
1,유세아,female,010-4579-5881,39.0,56.0,51.0,172.0,2016-10-02,2016-11-29,예,...,NaN,아니요,True,False,True,True,5.0,10,2016,2016-10
2,송솔은,female,010-7719-8346,NaN,29.0,21.0,167.0,2017-09-06,2017-09-06,예,...,NaN,아니요,True,False,True,True,8.0,9,2017,2017-9
3,백서원,female,010-1194-7169,36.0,67.0,65.0,NaN,2017-06-02,2017-07-28,예,...,NaN,아니요,True,False,True,False,2.0,6,2017,2017-6
4,박서은,female,010-2575-6398,42.0,60.0,57.0,167.0,2017-05-07,2017-05-07,아니오,...,NaN,예,False,True,True,False,3.0,5,2017,2017-5

In [118]:
data.groupby('Joined Year-Month')['Joined Year-Month'].count()

Joined Year-Month
2016-1     4407
2016-10    4516
2016-11    4411
2016-12    4568
2016-2     4242
2016-3     4434
2016-4     4427
2016-5     4604
2016-6     4390
2016-7     4606
2016-8     4497
2016-9     4507
2017-1     4557
2017-10    4478
2017-11    4359
2017-12    4624
2017-2     4063
2017-3     4551
2017-4     4370
2017-5     4473
2017-6     4403
2017-7     4473
2017-8     4586
2017-9     4293
Name: Joined Year-Month, dtype: int64

** 24. 회원 정보가 맞는지 여부를 확인하는 컬럼을 만들기 **

더 정확한 데이터 분석을 위해서는, 현재까지 고객님이 기업한 회원 정보가 정확한지를 확인하는 작업이 필요합니다. 분석팀에서 데이터를 다음과 같이 정리하면, 오퍼레이션 팀과 코칭 팀이 협업을 통해서 고객 정보를 개선하고, 더 좋은 서비스를 제공할 수 있을 것 같습니다. 다음의 내용이 담겨있는 새로운 컬럼을 하나 만들어주세요. 해당 컬럼에는 reject / counselling / duplicated / confirmed 라는 결과값이 들어가야 합니다.

다음의 경우에는 재기입을 요청한다. (reject)
* 전화번호가 비어있는 경우

다음의 경우는 트레이너와 상담을 유도한다. (counselling)
* 상담 요청(counselling)이 True인 사람.

다음의 경우에는 중복을 확인한다. (duplicated)
* 동일한 이름에 동일한 전화번호를 찾아낸다. 이는 중복되었다고 가정한다.

나머지는 문제가 없다. (confirmed)

In [ ]:
# Write code here!

**25. VIP 찾아내기**

다음의 고객을 특별 관리 대상으로 지정합니다. 특별 관리 대상이라고 함은, TKX 서비스의 VIP 플랜을 구매할 확률이 높은 분들을 의미합니다.

1. 트레이너와 상담을 요청한 사람. (counselling)
2. 상담을 요청하지 않은 사람 중, (현재 체중 - 목표 체중) 이 가장 높은 상위 1,000 명.

이 사람들을 특별관리 대상으로 지정하며, VIP라는 이름의 컬럼에 True 값을 넣으면 됩니다. 이후에는 오퍼레이션/코치 팀이 해당 고객님을 개별 컨택하여, 적극적으로 VIP 플랜을 구매하실 수 있도록 노력할 생각입니다. (특별관리 대상이 아닌 분들은 VIP 컬럼에 False 값을 넣으면 됩니다)

또한 전체 데이터와는 별개로, VIP 고객들만을 따로 뽑아내서 CSV파일로 저장할 수 있다면 좋겠습니다.

In [ ]:
# Write code here!