### Jump to Python Exercise

#### 1. 숫자형

In [1]:
#평균 계산
a = 80
b = 75
c = 55
d = (a+b+c)/3
print (d)

70.0

In [2]:
#나눗셈의 몫
a = 17//3
a

5

In [3]:
#나눗셈의 나머지
a = 17%3
a

2

In [4]:
#주어진 자연수가 홀짝인지 구분
def odd_or_even(a):
    if a % 2 ==0:
        return 'even'
    else:
        return 'odd'
odd_or_even(33)

'odd'

#### 2 문자열 자료형

In [5]:
#문자 출력
print('점프 투 파이썬')

점프 투 파이썬

In [6]:
#문자 출력
print('Life is too short\nYou need Python')

Life is too short
You need Python

In [7]:
#이 "PYTHON"이라는 문자열 앞에 공백 24개를 추가하여 다음과 같은 형태의 30자리의 문자열로 만드시오.
print(' '*24 +'PYTHON')

                        PYTHON

In [8]:
#홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
a = "881120-1068234"
연월일 = a[:6]
뒷부분 = a[-7:]
연월일, 뒷부분

('881120', '1068234')

In [9]:
#주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
def gender(pin):
    a = pin[7]
    if a == '1':
        return "남"
    else: 
        return "여"
gender('881120-1068234')

'남'

In [10]:
#문자열 변경
a = '1980M1120'
b = a[4]+a[:4]+a[-4:]
b

'M19801120'

In [11]:
#다음의 문자열에서 "short"라는 문자열이 시작되는 인덱스를 구하시오.
a = 'Life is too short, you need python'
b= a.find('t')
b, a[b]

(8, 't')

In [12]:
#문자열의 replace 함수를 이용하여 위 문자열을 다음(a#b#c#d)과 같이 고치시오.
a = 'a:b:c:d'
b = a.replace(':', '#')
b

'a#b#c#d'

In [13]:
#문자열의 split와 join 함수를 이용하여 위 문자열을 다음(a#b#c#d)과 같이 고치시오.
a = 'a:b:c:d'
b = a.split(':')
b

['a', 'b', 'c', 'd']

In [14]:
c='#'.join(b)
c

'a#b#c#d'

#### 3. 리스트 자료형

In [15]:
#a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python'] a 리스트를 이용하여 다음과 같은 문자열을 출력하시오.
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python'] 
b=a[4]+" "+a[2]
b

'you too'

In [17]:
#['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.
a=['Life', 'is', 'too', 'short'] 
b = " ".join(a)
b

'Life is too short'

In [18]:
#이 리스트의 갯수(사이즈)를 구하시오.
a = [1, 2, 3]
len(a)

3

In [30]:
#리스트 a에 [4, 5]를 append 했을 때와 extend했을 때의 차이점은 무엇인가?
a = [1, 2, 3]
b=[4,5]
a.append(b)
a

[1, 2, 3, [4, 5]]

In [27]:
a = [1, 2, 3]
b=[4,5]
a.extend(b)
a

[1, 2, 3, 4, 5]

In [33]:
#[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자. (힌트. 리스트의 내장함수인 sort와 reverse를 활용해 보자.)
a=[1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [38]:
#[1, 2, 3, 4, 5]라는 리스트를 [1, 3, 5]로 만들어 보자.

a= [1, 2, 3, 4, 5]
del a[1]
del a[2]
a

[1, 3, 5]

#### 4 튜플 자료형

In [54]:
#숫자 3만을 요소값으로 가지는 튜플을 작성하라.
#한개의 값을 가지는 튜플은 반드시 콤마 , 를 표기 해줘야 한다
a = (3,)
a

(3,)

In [55]:
#다음은 튜플 (1, 2, 3)을 (1, 4, 3)과 같이 변경하려고 시도했을 경우이다. 오류의 원인에 대해서 설명하시오.
>>> a = (1, 2, 3)
>>> a[1] = 4
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'tuple' object does not support item assignment
    
#튜플은 값의 수정 및 삭제가 안됨

SyntaxError: invalid syntax (<ipython-input-55-25c074c0778d>, line 4)

In [60]:
#(1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

a = (1,2,3)
a = a+(4,)
a

(1, 2, 3, 4)

#### 5. 딕셔너리 자료형

In [75]:
#다음 표를 딕셔너리로 만드시오.

a={'name':'홍길동',
   'birth':1128,
   'age':30
}
print(a.get('age'))
print(a.keys())
print(a.values())

30
dict_keys(['name', 'birth', 'age'])
dict_values(['홍길동', 1128, 30])

In [78]:
#딕셔너리 a에서 'age'에 해당되는 값을 추출하고 삭제해 보자.
a={'name':'홍길동',
   'birth':1128,
   'age':30
}
del a['age']
a

{'birth': 1128, 'name': '홍길동'}

In [84]:
#딕셔너리 a의 value중에서 최소 값을 출력하시오
a = {'A':90, 'B':80, 'C':70}

print(min(a.values()))
min(a)

70

'A'

In [89]:
#위 딕셔너리 a를 다음과 같은 리스트로 만들어보자.
a = {'A':90, 'B':80, 'C':70}

b = list(a.items())
b

[('A', 90), ('B', 80), ('C', 70)]

#### 7. 집합 자료형

In [96]:
#['a', 'b', 'c'] 라는 리스트를 집합 자료형으로 만드시오.

a=['a', 'b', 'c']
b=set(a)
b

{'a', 'b', 'c'}

In [99]:
#중복을 허용하지 않는 집합 자료형의 특징을 이용하여 다음 a 리스트에서 중복된 숫자들을 제거해 보자.

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a = list(set(a))
a

[1, 2, 3, 4, 5]

In [101]:
#s1 집합의 항목 중 s2 집합에 포함된 항목을 제거 해 보자.

s1 = set(['a', 'b', 'c', 'd', 'e'])
s2 = set(['c', 'd', 'e', 'f', 'g'])

a = list(s1-s2)
a

['b', 'a']

In [106]:
#a 에 {'d', 'e', 'f'} 를 추가하시오.

a = {'a', 'b', 'c'}
a.update(['d', 'e', 'f'])
a

{'a', 'b', 'c', 'd', 'e', 'f'}

#### 8. 불 자료형

In [110]:
#다음은 불 자료형을 리턴하는 조건문들이다. 각 각의 예제의 결과가 어떻게 나오는지 예상해 보자.
print(1 != 1)
print(3 > 1)
print('a' in 'abc')
print('a' not in [1, 2, 3])

False
True
True
True

#### 9. 자료형의 값을 저장하는 공간, 변수

In [112]:
#다음 예제를 실행하고 그 결과를 설명하시오.
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [114]:
#객체의 값은 동일해 보이지만 변수는 다른 상황임
id(a), id(b)

(80631688, 80633736)

In [115]:
a = [1, 2, 3]
b = a
a is b

True

In [116]:
id(a), id(b)

(80630024, 80630024)

In [117]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

In [118]:
id(a), id(b)

(80764296, 80764296)

In [121]:
a = [1, 2, 3]
b = a[:]
a is b

False

In [122]:
id(a), id(b)

(80630280, 80630024)

In [128]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [124]:
id(a), id(b)

(80688328, 80633736)

In [131]:
#기호를 이용하여 더한것과 extend한 것의 차이점이 있을까? 있다면 그 차이점에 대해서 얘기해 보자.
a = [1, 2, 3]
print(id(a))
a = a + [4,5]
id(a)

80762952

71399432

In [133]:
a = [1, 2, 3]
print(id(a))
a.extend([4, 5])
id(a)

80630088

80630088

#### 10. if 조건 문

In [136]:
score = 30
if score >= 60:
    message = "success"
else:
    message = "failure"
message

'failure'

In [140]:
#조건부 표현식
#조건문이_참인_경우 if 조건문 else 조건문이_거짓인_경우
score = 70
message = 'success' if score >=60 else "failuer"
message

'success'

In [146]:
#홍길동씨는 택시를 타고 목적지까지 가려고 한다. 목적지까지 가기 위해서는 카드를 소유하고 있거나 4,000원 이상의 현금을 가지고 있어야 한다고 한다. 홍길동씨는 택시를 탈 수 있는지를 판별할 수 있는 조건식을 작성하고 그 결과를 출력하시오.
money = 5000
card = False
if money>=4000 or card:  
    print("택시를 탈 수 있다")
else:
    print("택시를 탈 수 없다")

택시를 탈 수 있다

In [148]:
lucky_list = [1, 9, 23, 46]
n = 23

if n in lucky_list:
    print("야호")

야호

In [149]:
a = "Life is too short, you need python"
if 'wife' in a:
     print('wife')
elif 'python' in a and 'you' not in a:
    print('python')
elif 'shirt' not in a:
    print('shirt')
elif 'need' in a:
    print('need')
else:
    print('none')

shirt