### Jump to Python Exercise

#### 1. 숫자형

In [1]:
#평균 계산
a = 80
b = 75
c = 55
d = (a+b+c)/3
print (d)

70.0

In [2]:
#나눗셈의 몫
a = 17//3
a

5

In [3]:
#나눗셈의 나머지
a = 17%3
a

2

In [4]:
#주어진 자연수가 홀짝인지 구분
def odd_or_even(a):
    if a % 2 ==0:
        return 'even'
    else:
        return 'odd'
odd_or_even(33)

'odd'

#### 2 문자열 자료형

In [5]:
#문자 출력
print('점프 투 파이썬')

점프 투 파이썬

In [6]:
#문자 출력
print('Life is too short\nYou need Python')

Life is too short
You need Python

In [7]:
#이 "PYTHON"이라는 문자열 앞에 공백 24개를 추가하여 다음과 같은 형태의 30자리의 문자열로 만드시오.
print(' '*24 +'PYTHON')

                        PYTHON

In [ ]:
#홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
a = "881120-1068234"
연월일 = a[:6]
뒷부분 = a[-7:]
연월일, 뒷부분

In [ ]:
#주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
def gender(pin):
    a = pin[7]
    if a == '1':
        return "남"
    else: 
        return "여"
gender('881120-1068234')

In [ ]:
#문자열 변경
a = '1980M1120'
b = a[4]+a[:4]+a[-4:]
b

In [ ]:
#다음의 문자열에서 "short"라는 문자열이 시작되는 인덱스를 구하시오.
a = 'Life is too short, you need python'
b= a.find('t')
b, a[b]

In [ ]:
#문자열의 replace 함수를 이용하여 위 문자열을 다음(a#b#c#d)과 같이 고치시오.
a = 'a:b:c:d'
b = a.replace(':', '#')
b

In [ ]:
#문자열의 split와 join 함수를 이용하여 위 문자열을 다음(a#b#c#d)과 같이 고치시오.
a = 'a:b:c:d'
b = a.split(':')
b

In [ ]:
c='#'.join(b)
c

#### 3. 리스트 자료형

In [ ]:
#a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python'] a 리스트를 이용하여 다음과 같은 문자열을 출력하시오.
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python'] 
b=a[4]+" "+a[2]
b

In [ ]:
#['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.
a=['Life', 'is', 'too', 'short'] 
b = " ".join(a)
b

In [ ]:
#이 리스트의 갯수(사이즈)를 구하시오.
a = [1, 2, 3]
len(a)

In [ ]:
#리스트 a에 [4, 5]를 append 했을 때와 extend했을 때의 차이점은 무엇인가?
a = [1, 2, 3]
b=[4,5]
a.append(b)
a

In [ ]:
a = [1, 2, 3]
b=[4,5]
a.extend(b)
a

In [ ]:
#[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자. (힌트. 리스트의 내장함수인 sort와 reverse를 활용해 보자.)
a=[1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

In [ ]:
#[1, 2, 3, 4, 5]라는 리스트를 [1, 3, 5]로 만들어 보자.

a= [1, 2, 3, 4, 5]
del a[1]
del a[2]
a

#### 4 튜플 자료형

In [ ]:
#숫자 3만을 요소값으로 가지는 튜플을 작성하라.
#한개의 값을 가지는 튜플은 반드시 콤마 , 를 표기 해줘야 한다
a = (3,)
a

In [ ]:
#다음은 튜플 (1, 2, 3)을 (1, 4, 3)과 같이 변경하려고 시도했을 경우이다. 오류의 원인에 대해서 설명하시오.
>>> a = (1, 2, 3)
>>> a[1] = 4
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'tuple' object does not support item assignment
    
#튜플은 값의 수정 및 삭제가 안됨

In [ ]:
#(1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

a = (1,2,3)
a = a+(4,)
a

#### 5. 딕셔너리 자료형

In [ ]:
#다음 표를 딕셔너리로 만드시오.

a={'name':'홍길동',
   'birth':1128,
   'age':30
}
print(a.get('age'))
print(a.keys())
print(a.values())

In [ ]:
#딕셔너리 a에서 'age'에 해당되는 값을 추출하고 삭제해 보자.
a={'name':'홍길동',
   'birth':1128,
   'age':30
}
del a['age']
a

In [ ]:
#딕셔너리 a의 value중에서 최소 값을 출력하시오
a = {'A':90, 'B':80, 'C':70}

print(min(a.values()))
min(a)

In [ ]:
#위 딕셔너리 a를 다음과 같은 리스트로 만들어보자.
a = {'A':90, 'B':80, 'C':70}

b = list(a.items())
b

#### 7. 집합 자료형

In [ ]:
#['a', 'b', 'c'] 라는 리스트를 집합 자료형으로 만드시오.

a=['a', 'b', 'c']
b=set(a)
b

In [ ]:
#중복을 허용하지 않는 집합 자료형의 특징을 이용하여 다음 a 리스트에서 중복된 숫자들을 제거해 보자.

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a = list(set(a))
a

In [ ]:
#s1 집합의 항목 중 s2 집합에 포함된 항목을 제거 해 보자.

s1 = set(['a', 'b', 'c', 'd', 'e'])
s2 = set(['c', 'd', 'e', 'f', 'g'])

a = list(s1-s2)
a

In [ ]:
#a 에 {'d', 'e', 'f'} 를 추가하시오.

a = {'a', 'b', 'c'}
a.update(['d', 'e', 'f'])
a

#### 8. 불 자료형

In [ ]:
#다음은 불 자료형을 리턴하는 조건문들이다. 각 각의 예제의 결과가 어떻게 나오는지 예상해 보자.
print(1 != 1)
print(3 > 1)
print('a' in 'abc')
print('a' not in [1, 2, 3])

#### 9. 자료형의 값을 저장하는 공간, 변수

In [ ]:
#다음 예제를 실행하고 그 결과를 설명하시오.
a = [1, 2, 3]
b = [1, 2, 3]
a is b

In [ ]:
#객체의 값은 동일해 보이지만 변수는 다른 상황임
id(a), id(b)

In [ ]:
a = [1, 2, 3]
b = a
a is b

In [ ]:
id(a), id(b)

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

In [ ]:
id(a), id(b)

In [ ]:
a = [1, 2, 3]
b = a[:]
a is b

In [ ]:
id(a), id(b)

In [ ]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
print(a)
print(b)

In [ ]:
id(a), id(b)

In [ ]:
#기호를 이용하여 더한것과 extend한 것의 차이점이 있을까? 있다면 그 차이점에 대해서 얘기해 보자.
a = [1, 2, 3]
print(id(a))
a = a + [4,5]
id(a)

In [ ]:
a = [1, 2, 3]
print(id(a))
a.extend([4, 5])
id(a)

#### 10. if 조건 문

In [ ]:
score = 30
if score >= 60:
    message = "success"
else:
    message = "failure"
message

In [ ]:
#조건부 표현식
#조건문이_참인_경우 if 조건문 else 조건문이_거짓인_경우
score = 70
message = 'success' if score >=60 else "failuer"
message

In [ ]:
#홍길동씨는 택시를 타고 목적지까지 가려고 한다. 목적지까지 가기 위해서는 카드를 소유하고 있거나 4,000원 이상의 현금을 가지고 있어야 한다고 한다. 홍길동씨는 택시를 탈 수 있는지를 판별할 수 있는 조건식을 작성하고 그 결과를 출력하시오.
money = 5000
card = False
if money>=4000 or card:  
    print("택시를 탈 수 있다")
else:
    print("택시를 탈 수 없다")

In [ ]:
lucky_list = [1, 9, 23, 46]
n = 23

if n in lucky_list:
    print("야호")

In [ ]:
a = "Life is too short, you need python"
if 'wife' in a:
     print('wife')
elif 'python' in a and 'you' not in a:
    print('python')
elif 'shirt' not in a:
    print('shirt')
elif 'need' in a:
    print('need')
else:
    print('none')

#### 11. While 문

In [ ]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다.' % treeHit)
    if treeHit == 10:
        print('나무 넘어갑니다.')

In [ ]:
#1부터 100까지의 자연수를 모두 더하고 그 결과를 출력하시오.
number = 1
result = 0
while number <=100:
    result += number
    number +=1

%time 
print(result)

In [ ]:
#1부터 1000까지의 자연수 중 3의 배수의 합을 구하시오.
i = 3
result = 0
while i <= 1000:
    result +=i
    i += 3
    
print(result)

In [ ]:
#다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상의 점수들의 총합을 구하시오.
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0

for i in A:
    if i >= 50:
        result += i

print(result)

In [ ]:
#while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해 보자.
s = '*'
i = 1

while i < 5:
    print(s * i)
    i += 1

In [ ]:
#while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해 보자.
star = 7
space = 0

while space <= 3:
    print(' '*space + '*'* star + ' '*space)
    space +=1
    star -= 2

In [ ]:
#1부터 100까지의 숫자를 for문을 이용하여 출력하시오.

for i in range(1,101):
    print (i)

In [ ]:
#for문을 이용하여 1부터 1000까지의 자연수 중 5의 배수에 해당되는 자연수들의 총합을 구하시오.

result = 0

for i in range(1, 1001):
    if i %5 ==0:
        result += i
        
print(result)

In [ ]:
#for문을 이용하여 A 학급의 평균 점수를 구해 보자.

A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

result = 0

for i in A:
    result += i

print(result/len(A))

In [ ]:
#다음은 학생들의 혈액형(A, B, AB, O)에 대한 데이터이다.
#for 문을 이용하여 각 혈액형 별 학생수의 합계를 구하시오.

data = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

result = {}

for i in data:
    if i in result:
        result[i] +=1
    else:
        result[i] =1
        
print(result)

In [ ]:
#리스트 중에서 홀수에만 2를 곱하여 저장하는 다음과 같은 코드가 있다.
#위 코드를 리스트 내포(list comprehension)를 이용하여 표현하시오.